
{% comment %}
 SEO Manager - v6.1.4
 Copyright (c) venntov
 https://venntov.com / http://SEOManager.com
 Josh Highland
 NOTICE: All information contained herein is property of venntov.
 The intellectual and technical concepts contained herein are proprietary
 to venntov and are protected by trade secret and copyright law.
 Reproduction of this code is strictly forbidden unless prior written
 permission is obtained from venntov. If violated, legal action
 will be taken. Just don't do it.
{% endcomment %}
{% capture VHUAGVEDSU %} {% endcapture %} {%- assign ZFUOGOEIEZ = shop.metafields.SEOMetaManager.globalConfig -%} {%- assign LUXUYQANXN = ZFUOGOEIEZ | remove: "{"| remove: "}" -%} {%- assign PJONDPPADQ = LUXUYQANXN | split: ',"' -%} {%- for YHZQVMCXLZ in PJONDPPADQ -%} {%- assign VTXGGQWQRW = YHZQVMCXLZ | remove: '"' -%} {%- assign SEUEJHMOLG = VTXGGQWQRW | split: ":" -%} {%- case SEUEJHMOLG[0] -%} {%- when 'product_title_template' -%} {%- assign NTTTEJMVUB = SEUEJHMOLG[1] -%} {%- when 'product_title_template_force' -%} {%- assign DGPLJWWNTQ = SEUEJHMOLG[1] -%} {%- when 'product_noindex_follow' -%} {%- assign FLOZJSISYD = SEUEJHMOLG[1] -%} {%- when 'collection_title_template' -%} {%- assign LPQAFFDRKU = SEUEJHMOLG[1] -%} {%- when 'collection_title_template_force' -%} {%- assign YNFDCHSWHA = SEUEJHMOLG[1] -%} {%- when 'collection_noindex_follow' -%} {%- assign PNQIOAXFPA = SEUEJHMOLG[1] -%} {%- when 'page_title_template' -%} {%- assign FGDARMNYOE = SEUEJHMOLG[1] -%} {%- when 'page_title_template_force' -%} {%- assign FIZGEUIHXE = SEUEJHMOLG[1] -%} {%- when 'page_noindex_follow' -%} {%- assign CTWQPYWDUB = SEUEJHMOLG[1] -%} {%- when 'blog_title_template' -%} {%- assign OBCQEHNISD = SEUEJHMOLG[1] -%} {%- when 'blog_title_template_force' -%} {%- assign HWQRYONAOP = SEUEJHMOLG[1] -%} {%- when 'blog_noindex_follow' -%} {%- assign BLQBLWCMQL = SEUEJHMOLG[1] -%} {%- when 'hidePageNumber' -%} {%- assign HTBKWIAOTC = SEUEJHMOLG[1] -%} {%- when 'google_notranslate' -%} {%- assign IQXKLWNIWF = SEUEJHMOLG[1] -%} {%- when 'google_unavailable_after_globalDisabled' -%} {%- assign SICHYTRNZQ = SEUEJHMOLG[1] -%} {%- when 'google_nositelinkssearchbox' -%} {%- assign QOKLUSJJWN = SEUEJHMOLG[1] -%} {%- when 'show_keywordsMeta' -%} {%- assign BGSSKZQNSV = SEUEJHMOLG[1] -%} {%- when 'metaRedirect_globalDisabled' -%} {%- assign ILTMGXEWOZ = SEUEJHMOLG[1] -%} {%- endcase -%} {%- endfor -%} {%- if template contains 'index' -%} {%- assign RHZZYHWZKY = 'shop' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign KGGAMLUXUH = 'yes' -%} {%- assign NUVXEJHKQD = 'homepage' -%} {%- assign RRDYZPBUKP = shop.metafields.SEOMetaManager.config_homepage -%} {%- elsif template contains 'product' -%} {%- assign RHZZYHWZKY = 'product' -%} {%- assign YSFLYAEHDT = product.metafields.SEOMetaManager -%} {%- assign CEZVLFGTLF = NTTTEJMVUB -%} {%- assign PJHUMLXPGC = DGPLJWWNTQ -%} {%- if FLOZJSISYD == 'yes' -%} {%- assign JEIYAKMUBW = 'yes' -%} {%- endif -%} {%- elsif template contains 'page' -%} {%- assign RHZZYHWZKY = 'page' -%} {%- assign YSFLYAEHDT = page.metafields.SEOMetaManager -%} {%- assign CEZVLFGTLF = FGDARMNYOE -%} {%- assign PJHUMLXPGC = FIZGEUIHXE -%} {%- if CTWQPYWDUB == 'yes' -%} {%- assign JEIYAKMUBW = 'yes' -%} {%- endif -%} {%- elsif template contains 'list-collections' -%} {%- assign RHZZYHWZKY = 'shop' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign KGGAMLUXUH = 'yes' -%} {%- assign NUVXEJHKQD = 'collectionsALL' -%} {%- assign RRDYZPBUKP = shop.metafields.SEOMetaManager.config_collectionsAll -%} {%- assign RBVXRORKTR = 'yes' -%} {%- elsif template contains 'collection' -%} {%- assign RHZZYHWZKY = 'collection' -%} {%- assign YSFLYAEHDT = collection.metafields.SEOMetaManager -%} {%- if collection.title == 'Products' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign RBVXRORKTR = 'yes' -%} {%- endif -%} {%- if collection.handle == 'all' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign RBVXRORKTR = 'yes' -%} {%- endif -%} {%- assign CEZVLFGTLF = LPQAFFDRKU -%} {%- assign PJHUMLXPGC = YNFDCHSWHA -%} {%- if PNQIOAXFPA == 'yes' -%} {%- assign JEIYAKMUBW = 'yes' -%} {%- endif -%} {%- elsif template contains 'article' -%} {%- assign RHZZYHWZKY = 'article' -%} {%- assign YSFLYAEHDT = article.metafields.SEOMetaManager -%} {%- assign CEZVLFGTLF = OBCQEHNISD -%} {%- assign PJHUMLXPGC = HWQRYONAOP -%} {%- if BLQBLWCMQL == 'yes' -%} {%- assign JEIYAKMUBW = 'yes' -%} {%- endif -%} {%- elsif template contains 'blog' -%} {%- assign RHZZYHWZKY = 'blog' -%} {%- assign YSFLYAEHDT = blog.metafields.SEOMetaManager -%} {%- elsif template contains 'search' -%} {%- assign RHZZYHWZKY = 'shop' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign KGGAMLUXUH = 'yes' -%} {%- assign NUVXEJHKQD = 'search' -%} {%- assign RRDYZPBUKP = shop.metafields.SEOMetaManager.config_search -%} {%- elsif template contains '404' -%} {%- assign RHZZYHWZKY = 'shop' -%} {%- assign YSFLYAEHDT = shop.metafields.SEOMetaManager -%} {%- assign KGGAMLUXUH = 'yes' -%} {%- assign NUVXEJHKQD = 'page404' -%} {%- assign RRDYZPBUKP = shop.metafields.SEOMetaManager.config_404 -%} {%- elsif template contains 'cart' -%} {%- assign XRAUEDEWDF = 'no' -%} {%- assign MPEXFDTJPA = 'no' -%} {%- elsif template contains 'cart' -%} {%- assign XRAUEDEWDF = 'no' -%} {%- assign MPEXFDTJPA = 'no' -%} {%- elsif template contains 'customers' -%} {%- assign XRAUEDEWDF = 'no' -%} {%- assign MPEXFDTJPA = 'no' -%} {%- else -%} <!-- NO OBJECT - {{ template }} --> {%- endif -%} {%- assign IYNXZGKSQY = 'NewCondition' -%} {%- if KGGAMLUXUH == 'yes' -%} {%- assign BPDGHCAGJE = RRDYZPBUKP -%} {%- else -%} {%- if RBVXRORKTR == 'yes' -%} {%- assign BPDGHCAGJE = shop.metafields.SEOMetaManager.config_collectionsAll -%} {%- else -%} {% assign BPDGHCAGJE = YSFLYAEHDT.config -%} {%- endif -%} {%- endif -%} {%- assign CPOZEYKYDM = BPDGHCAGJE | remove: "{"| remove: "}" -%} {%- assign PJONDPPADQ = CPOZEYKYDM | split: ',"' -%} {%- for YHZQVMCXLZ in PJONDPPADQ -%} {%- assign VTXGGQWQRW = YHZQVMCXLZ | remove: '"' -%} {%- assign SEUEJHMOLG = VTXGGQWQRW | split: ":" -%} {%- assign WZQGMVVBCH = SEUEJHMOLG[0] -%} {%- assign XMIWDSNTOU = SEUEJHMOLG[1] | replace: '%3A', ':' | replace: '\/', '/' -%} {%- case WZQGMVVBCH -%} {%- when 'title_template_force' -%} {%- assign OQCTFOPRWJ = XMIWDSNTOU -%} {%- when 'robots_index' -%} {%- assign XRAUEDEWDF = XMIWDSNTOU -%} {%- when 'robots_follow' -%} {%- assign MPEXFDTJPA = XMIWDSNTOU -%} {%- when 'robots_noimageindex' -%} {%- assign CVPJXXJHKU = XMIWDSNTOU -%} {%- when 'robots_noarchive' -%} {%- assign MGNLFRUPJA = XMIWDSNTOU -%} {%- when 'robots_nosnippet' -%} {%- assign MYLVPAJABL = XMIWDSNTOU -%} {%- when 'google_notranslate' -%} {%- assign IQXKLWNIWF = XMIWDSNTOU -%} {%- when 'google_unavailable_after' -%} {%- assign KWMLDCSJFH = XMIWDSNTOU -%} {%- when 'google_unavailable_after_date' -%} {%- assign WDAKYDBHNW = XMIWDSNTOU -%} {%- when 'metaRedirect_enabled' -%} {%- assign TJIHZNCAWE = XMIWDSNTOU -%} {%- when 'metaRedirect_url' -%} {%- assign RMZZUPGPNQ = XMIWDSNTOU -%} {%- when 'itemCondition' -%} {%- assign IYNXZGKSQY = XMIWDSNTOU -%} {%- when 'pinterest_nopin' -%} {%- assign JRLWLZAUGI = XMIWDSNTOU -%} {%- endcase -%} {%- endfor -%} {%- if RHZZYHWZKY == 'product' -%} {%- if ILTMGXEWOZ == 'yes' -%} {%- else -%} {%- if TJIHZNCAWE == 'yes' -%} {%- if product.available != true -%} <meta HTTP-EQUIV="refresh" CONTENT="0;URL={{ RMZZUPGPNQ }}"> {%- endif -%} {%- endif -%} {%- endif -%} {%- endif -%} {%- assign HLCEUXHRFV = page_title -%} {%- if RBVXRORKTR == 'yes' -%} {%- if YSFLYAEHDT.title_collectionsAll == empty or YSFLYAEHDT.title_collectionsAll == nil -%} {%- assign HLCEUXHRFV = page_title -%} {%- else -%} {%- assign HLCEUXHRFV = YSFLYAEHDT.title_collectionsAll -%} {%- endif -%} {%- endif -%} {%- assign SDJGPELKMX = page_description -%} {%- if RBVXRORKTR == 'yes' -%} {%- if YSFLYAEHDT.description_collectionsAll == empty or YSFLYAEHDT.description_collectionsAll == nil -%} {%- assign SDJGPELKMX = page_description -%} {%- else -%} {%- assign SDJGPELKMX = YSFLYAEHDT.description_collectionsAll -%} {%- endif -%} {%- endif -%} {%- if BGSSKZQNSV == 'yes' -%} {%- assign PHKFDOPMEH = YSFLYAEHDT.keywords -%} {%- endif -%} {%- capture WGYRIEDKED -%}{{ current_tags }}{%- endcapture -%} {%- for OMTURHVOEZ in collection.all_tags -%} {%- if WGYRIEDKED == OMTURHVOEZ -%} {%- capture HLCEUXHRFV -%}{{ HLCEUXHRFV }} - {{ OMTURHVOEZ }}{%- endcapture -%} {%- capture YYIETKDECQ -%}title_{{ OMTURHVOEZ | slice: 0, 24 }}{%- endcapture -%} {%- capture DPEZPHWWVX -%}description_{{ OMTURHVOEZ | slice: 0, 18 }}{%- endcapture -%} {%- capture GRISNLIEDP -%}noindex_{{ OMTURHVOEZ | slice: 0, 22 }}{%- endcapture -%} {%- assign ARYCVBCFDQ = "false" -%} {%- for YHZQVMCXLZ in YSFLYAEHDT -%} {%- capture WZQGMVVBCH -%}{{ YHZQVMCXLZ | first }}{%- endcapture -%} {%- capture BMOOUPJDBU -%}{{ YHZQVMCXLZ | last }}{%- endcapture -%} {%- if WZQGMVVBCH == YYIETKDECQ -%} {%- assign HLCEUXHRFV = BMOOUPJDBU -%} {%- assign ARYCVBCFDQ = "true" -%} {%- elsif WZQGMVVBCH == DPEZPHWWVX -%} {%- assign SDJGPELKMX = BMOOUPJDBU -%} {%- assign ARYCVBCFDQ = "true" -%} {%- elsif WZQGMVVBCH == GRISNLIEDP -%} {%- assign JEIYAKMUBW = BMOOUPJDBU -%} {%- endif -%} {%- endfor -%} {%- if ARYCVBCFDQ == "false" -%} {%- capture YYIETKDECQ -%}title_{{ OMTURHVOEZ | slice: 0, 24 | downcase | handleize }}{%- endcapture -%} {%- capture DPEZPHWWVX -%}description_{{ OMTURHVOEZ | slice: 0, 18 | downcase | handleize }}{%- endcapture -%} {%- capture GRISNLIEDP -%}noindex_{{ OMTURHVOEZ | slice: 0, 22 | downcase | handleize }}{%- endcapture -%} {%- for YHZQVMCXLZ in YSFLYAEHDT -%} {%- capture WZQGMVVBCH -%}{{ YHZQVMCXLZ | first }}{%-endcapture-%} {%- capture BMOOUPJDBU -%}{{ YHZQVMCXLZ | last }}{%- endcapture -%} {%- if WZQGMVVBCH == YYIETKDECQ -%} {%- assign HLCEUXHRFV = BMOOUPJDBU -%} {%- elsif WZQGMVVBCH == DPEZPHWWVX -%} {%- assign SDJGPELKMX = BMOOUPJDBU -%} {%- elsif WZQGMVVBCH == GRISNLIEDP -%} {%- assign JEIYAKMUBW = BMOOUPJDBU -%} {%- endif -%} {%- endfor -%} {%- endif -%} {%- assign PJHUMLXPGC = 'no' -%} {%- assign OQCTFOPRWJ = 'no' -%} {%- break -%} {%- endif -%} {%- endfor -%} {%- if KGGAMLUXUH == 'yes' -%} {%- capture ZXWLQPXGQG -%}title_{{ NUVXEJHKQD }}{%- endcapture -%} {%- capture XIYOUGVODD -%}description_{{ NUVXEJHKQD }}{%- endcapture -%} {%- for YHZQVMCXLZ in YSFLYAEHDT -%} {%- capture WZQGMVVBCH -%}{{ YHZQVMCXLZ | first }}{%-endcapture-%} {%- capture BMOOUPJDBU -%}{{ YHZQVMCXLZ | last }}{%- endcapture -%} {%- if WZQGMVVBCH == ZXWLQPXGQG -%} {%- assign HLCEUXHRFV = BMOOUPJDBU -%} {%- elsif WZQGMVVBCH == XIYOUGVODD -%} {%- assign SDJGPELKMX = BMOOUPJDBU -%} {% endif %} {%- endfor -%} {%- endif -%} {%- if PJHUMLXPGC == 'yes' or OQCTFOPRWJ == 'yes' -%} {%- assign RQNZGRTNCY = [RHZZYHWZKY].price | money | strip_html -%} {%- assign FYTKOSMDFT = [RHZZYHWZKY].price_max | money | strip_html -%} {%- assign XBNJIRAHIE = [RHZZYHWZKY].price_min | money | strip_html -%} {%- assign CZLQSXZELF = CEZVLFGTLF | replace: '##title##', [RHZZYHWZKY].title -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##seotitle##', page_title -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##price##', RQNZGRTNCY -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##price_max##', FYTKOSMDFT -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##price_min##', XBNJIRAHIE -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##type##', [RHZZYHWZKY].type -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##vendor##', [RHZZYHWZKY].vendor -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##author##', [RHZZYHWZKY].author -%} {%- assign CZLQSXZELF = CZLQSXZELF | replace: '##shopname##', shop.name -%} {%- assign HLCEUXHRFV = CZLQSXZELF -%} {%- endif -%} {%- unless HTBKWIAOTC == "yes" -%} {%- if current_page > 1 -%} {% capture HLCEUXHRFV %}{{ HLCEUXHRFV }} | {{ current_page }}{% endcapture %} {%- endif -%} {%- endunless -%}
<!-- SEO Manager 6.1.4 -->
<meta name='seomanager' content='6.1' />
<title>{{ HLCEUXHRFV | escape_once }}</title>
<meta name='description' content='{{ SDJGPELKMX | escape_once }}' />
{%- if BGSSKZQNSV == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name='keywords' content='{{ PHKFDOPMEH | escape_once }}' />
{%- endif -%}
{%- if JEIYAKMUBW == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="noindex">
<meta name="robots" content="follow">
{%- else -%}
{%- if XRAUEDEWDF == 'no' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="noindex">
{%- else -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="index">
{%- endif -%}
{%- if MPEXFDTJPA == 'no' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="nofollow">
{%- else -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="follow">
{%- endif -%}
{%- endif -%}
{%- if CVPJXXJHKU == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="noimageindex">
{%- endif -%}
{%- if MGNLFRUPJA == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="noarchive">
{%- endif -%}
{%- if MYLVPAJABL == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="robots" content="nosnippet">
{%- endif -%}
{%- if IQXKLWNIWF == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="google" content="notranslate" />
{%- endif -%}
{%- if SICHYTRNZQ == 'yes' -%}
{%- elsif KWMLDCSJFH == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="googlebot" content="unavailable_after: {{ WDAKYDBHNW }} UTC" />
{%- endif -%}
{%- if JRLWLZAUGI == 'yes' -%}
{{ VHUAGVEDSU }}
<meta name="pinterest" content="nopin" />
{%- endif -%}
{%- assign DNJSTOVHQF = 'yes' -%} {%- assign KWPWKYLAAC = 'yes' -%} {%- assign QUWNPFEAYE = 'Store' -%} {%- assign XLPJAELULK = 'no' -%} {%- assign ZVJWWRNHYJ = '' -%} {%- assign SVXIHIDHXN = 'yes' -%} {%- assign AILEBATIPS = 'yes' -%} {%- assign KWNAJXUEJS = 'automatic' -%} {%- assign SPBDSVVAQJ = 'yes' -%} {%- assign GQQJWPRFCR = "" -%} {%- assign CRKFQHGRQV = shop.metafields.SEOMetaManager.knowledgeGraphConfig -%} {%- assign OZFVCOJVWX = CRKFQHGRQV | remove: "{"| remove: "}" -%} {%- assign PJONDPPADQ = OZFVCOJVWX | split: ',"' -%} {%- for YHZQVMCXLZ in PJONDPPADQ -%} {%- assign VTXGGQWQRW = YHZQVMCXLZ | remove: '"' -%} {%- assign SEUEJHMOLG = VTXGGQWQRW | split: ":" -%} {%- assign WZQGMVVBCH = SEUEJHMOLG[0] -%} {%- assign XMIWDSNTOU = SEUEJHMOLG[1] | replace: '%3A', ':' | replace: '\/', '/' | replace: '%2F', '/' | replace: '%2B', '+' -%} {%- case WZQGMVVBCH -%} {%- when 'facebook' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'twitter' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'instagram' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'pinterest' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'youtube' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'googleplus' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'linkedin' -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | append: ', "' | append: XMIWDSNTOU | append: '"' -%} {%- when 'JSONLD_enable' -%} {%- assign DNJSTOVHQF = XMIWDSNTOU -%} {%- when 'JSONLD_showLocalBusiness' -%} {%- assign KWPWKYLAAC = XMIWDSNTOU -%} {%- when 'JSONLD_customerServicePhone' -%} {%- assign AQQDKBVTTI = XMIWDSNTOU -%} {%- when 'JSONLD_techSupportPhone' -%} {%- assign KXGKZCAUVW = XMIWDSNTOU -%} {%- when 'JSONLD_salesPhone' -%} {%- assign WDLGQOIBVH = XMIWDSNTOU -%} {%- when 'JSONLD_businessType' -%} {%- assign QUWNPFEAYE = XMIWDSNTOU -%} {%- when 'JSONLD_brand' -%} {%- assign KHKHKLAUTR = XMIWDSNTOU -%} {%- when 'JSONLD_openingHours' -%} {%- assign VOHRYAMAFK = XMIWDSNTOU -%} {%- when 'JSONLD_map' -%} {%- assign TKHFUGHWWT = XMIWDSNTOU -%} {%- when 'JSONLD_priceRange' -%} {%- assign RIWGKTTBKZ = XMIWDSNTOU -%} {%- when 'JSONLD_phone' -%} {%- assign VCJVHPAWDO = XMIWDSNTOU -%} {%- when 'JSONLD_address' -%} {%- assign UCSJSJAPWL = XMIWDSNTOU -%} {%- when 'JSONLD_city' -%} {%- assign EOSTCYKOCV = XMIWDSNTOU -%} {%- when 'JSONLD_province' -%} {%- assign NLENOQXBRW = XMIWDSNTOU -%} {%- when 'JSONLD_zip' -%} {%- assign LAAIXNGEWE = XMIWDSNTOU -%} {%- when 'JSONLD_country' -%} {%- assign ZVJWWRNHYJ = XMIWDSNTOU -%} {%- when 'JSONLD_showProducts' -%} {%- assign SVXIHIDHXN = XMIWDSNTOU -%} {%- when 'JSONLD_showReviews' -%} {%- assign AILEBATIPS = XMIWDSNTOU -%} {%- when 'JSONLD_reviewProvider' -%} {%- assign KWNAJXUEJS = XMIWDSNTOU -%} {%- when 'JSONLD_showArticles' -%} {%- assign SPBDSVVAQJ = XMIWDSNTOU -%} {%- when 'JSONLD_alternativeName' -%} {%- assign CTOGBHGXOW = XMIWDSNTOU -%} {%- endcase -%} {%- endfor -%} {%- assign GQQJWPRFCR = GQQJWPRFCR | remove_first: ', ' -%}
{%- assign UCEMIXTYVJ = shop.metafields.SEOMetaManager.googleVerify -%}
{% unless UCEMIXTYVJ == blank %}
{{ UCEMIXTYVJ }}
{% endunless %}
{%- unless DNJSTOVHQF == "no" -%}
 {%- if RHZZYHWZKY == 'shop' -%}
 <!-- JSON-LD support -->
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "WebSite",
 "name": {{ shop.name | json }},
 {%- unless CTOGBHGXOW == blank -%}
 "alternateName": "{{ CTOGBHGXOW }}",
 {%- endunless -%}
 "url": "https://{{ shop.domain }}",
 "potentialAction": {
 "@type": "SearchAction",
 "target": "https://{{ shop.domain }}/search?q={query}",
 "query-input": "required name=query"
 }
 }
 </script>
 <script type="application/ld+json">
 {
 "@context": "http://schema.org",
 "@type": "Organization",
 "name": {{ shop.name | json }},
 "url": "https://{{ shop.domain }}"
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"logo": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 ,"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 {%- endunless -%}
 ,"contactPoint": [
 {%- unless AQQDKBVTTI == blank -%}
 { "@type": "ContactPoint",
 "telephone": {{ AQQDKBVTTI | json }},
 "contactType": "customer service"
 }
 {%- endunless -%}
 {%- unless KXGKZCAUVW == blank -%}
 ,{ "@type": "ContactPoint",
 "telephone": {{ KXGKZCAUVW | json }},
 "contactType": "technical support"
 }
 {%- endunless -%}
 {%- unless WDLGQOIBVH == blank -%}
 ,{ "@type": "ContactPoint",
 "telephone": {{ WDLGQOIBVH | json }},
 "contactType": "sales"
 }
 {%- endunless -%}
 ]
 {%- unless GQQJWPRFCR == blank -%}
 ,"sameAs" : [
 {{ GQQJWPRFCR }}
 ]
 {%- endunless -%}
 }
 </script>
 {%- unless KWPWKYLAAC == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "{{ QUWNPFEAYE }}",
 "name": {{ shop.name | json }},
 "url": "https://{{ shop.domain }}",
 "description": {{ shop.description | json }}
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 {%- endunless -%}
 {%- unless VCJVHPAWDO == blank -%}
 ,"telephone": "{{ VCJVHPAWDO }}"
 {%- endunless -%}
 {%- unless KHKHKLAUTR == blank -%}
 ,"brand": {
 "@type": "Brand",
 "name": "{{ KHKHKLAUTR }}"
 }
 {%- endunless -%}
 {%- unless XLPJAELULK == 'no' -%}
 ,"openingHoursSpecification": [
 {%- unless JSONLD_hours_mo_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Monday",
 "opens":  "{{ JSONLD_hours_mo_open }}",
 "closes": "{{ JSONLD_hours_mo_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_tu_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Tuesday",
 "opens":  "{{ JSONLD_hours_tu_open }}",
 "closes": "{{ JSONLD_hours_tu_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_we_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Wednesday",
 "opens":  "{{ JSONLD_hours_we_open }}",
 "closes": "{{ JSONLD_hours_we_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_th_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Thursday",
 "opens":  "{{ JSONLD_hours_th_open }}",
 "closes": "{{ JSONLD_hours_th_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_fr_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Friday",
 "opens":  "{{ JSONLD_hours_fr_open }}",
 "closes": "{{ JSONLD_hours_fr_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_sa_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Saturday",
 "opens":  "{{ JSONLD_hours_sa_open }}",
 "closes": "{{ JSONLD_hours_sa_close }}"
 },
 {%- endunless -%}
 {%- unless JSONLD_hours_su_open == "closed" -%}
 {
 "@type": "OpeningHoursSpecification",
 "dayOfWeek": "http://schema.org/Sunday",
 "opens":  "{{ JSONLD_hours_su_open }}",
 "closes": "{{ JSONLD_hours_su_close }}"
 }
 {%- endunless -%}
 ]
 {%- endunless -%}
 {%- unless TKHFUGHWWT == blank -%}
 ,"hasMap": "{{ TKHFUGHWWT }}"
 {%- endunless -%}
 {%- unless RIWGKTTBKZ == blank -%}
 ,"priceRange": "{{ RIWGKTTBKZ }}"
 {%- endunless -%}
 ,"geo": {
 "@type": "GeoCoordinates",
 "latitude": "{{ JSONLD_lat | default: shop.latitude }}",
 "longitude": "{{ JSONLD_long | default: shop.longitude }}"
 }
 ,"address": {
 "@type": "PostalAddress",
 "streetAddress": "{{ UCSJSJAPWL | default: shop.address.street }}",
 "addressLocality": "{{ EOSTCYKOCV | default: shop.address.city }}",
 "addressRegion": "{{ NLENOQXBRW | default: shop.address.province }}",
 "postalCode": "{{ LAAIXNGEWE | default: shop.address.zip }}",
 "addressCountry": "{{ ZVJWWRNHYJ | default: shop.address.country }}"
 }
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
 {%- if RHZZYHWZKY == 'product' -%}
 {%- unless SVXIHIDHXN == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@id": {{ canonical_url | json }},
 "@type": "Product",
 {%- if product.first_available_variant.sku != blank -%}
 "sku": {{ product.first_available_variant.sku | json}},
 {%- else -%}
 "sku": {{ product.first_available_variant.id | json }},
 {%- endif -%}
 {%- if product.first_available_variant.sku != blank -%}
 "mpn": {{ product.first_available_variant.sku | json }},
 {%- else -%}
 "mpn": {{ product.first_available_variant.id | json }},
 {%- endif -%}
 "brand": {
 "@type": "Brand",
 "name": {{ product.vendor | json }}
 },
 "description": {{ product.description | strip_html | json }},
 "url": {{ canonical_url | json }},
 "name": {{ product.title | json }},
 {%- if product.featured_image -%}
 "image": "https:{{ product.featured_image | product_img_url: 'master' }}",
 {%- endif -%}
 "offers": [
 {%- for HEIJTJDZGW in product.variants -%}
 {
 "@type": "Offer",
 {%- if HEIJTJDZGW.available == true -%}
 {%- assign HQOEHINBUJ = "InStock" -%}
 {%- else -%}
 {%- assign HQOEHINBUJ = "OutOfStock" -%}
 {%- endif -%}
 "availability": "https://schema.org/{{ HQOEHINBUJ }}",
 "priceCurrency": "{{ shop.currency }}",
 "price": "{{ HEIJTJDZGW.price | money_without_currency | remove: "," }}",
 "priceValidUntil": {{ "today" | date: '%s' | plus: 31536000 | date: "%Y-%m-%d" | json }},
 "itemCondition": "https://schema.org/{{ IYNXZGKSQY }}",
 "url": {{ canonical_url | append: HEIJTJDZGW.url | json }},
 "image": "https:{{ HEIJTJDZGW.image | default: product.featured_image | img_url: 'master' }}",
 "mpn": {{ HEIJTJDZGW.sku | default: HEIJTJDZGW.id | json }},
 {%- if HEIJTJDZGW.sku != blank -%}
 "sku": {{ HEIJTJDZGW.sku | json }},
 {%- else -%}
 "sku": "{{ HEIJTJDZGW.id }}",
 {%- endif -%}
 {%- if HEIJTJDZGW.barcode.size == 12 -%}
 "gtin12": {{ HEIJTJDZGW.barcode | json }},
 {% endif %}
 {%- if HEIJTJDZGW.barcode.size == 13 -%}
 "gtin13": {{ HEIJTJDZGW.barcode | json }},
 {%- endif -%}
 {%- if HEIJTJDZGW.barcode.size == 14 -%}
 "gtin14": {{ HEIJTJDZGW.barcode | json }},
 {%- endif -%}
 "seller": {
 "@type": "Organization",
 "name": {{ shop.name | json }}
 }
 }
 {%- unless forloop.last -%},{% endunless -%}
 {%- endfor -%}]
 {%- unless JSONLD_hideReviews == "yes" -%}
 {%- case KWNAJXUEJS -%}
 {%- when 'eggviews' -%}
 {%- assign DEUEVYEGGX = product.metafields.eggviews.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.eggviews.reviews_count -%}
 {%- when 'judgeme' -%}
 {%- when 'kudobuzz' -%}
 {%- assign DEUEVYEGGX = product.metafields.kudobuzz.review_rating -%}
 {%- assign YALAMIUGNR = product.metafields.kudobuzz.reviews_count -%}
 {%- when 'loox' -%}
 {%- assign DEUEVYEGGX = product.metafields.loox.avg_rating -%}
 {%- assign YALAMIUGNR = product.metafields.loox.num_reviews -%}
 {%- when 'okendo' -%}
 {%- assign DEUEVYEGGX = product.metafields.okendo.RatingAndReviewAverageValue -%}
 {%- assign YALAMIUGNR = product.metafields.okendo.RatingAndReviewCount -%}
 {%- when 'opinew' -%}
 {%- assign DEUEVYEGGX = product.metafields.opinew.reviews_rich_snippet | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign YALAMIUGNR = product.metafields.opinew.reviews_rich_snippet | split: 'ratingCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'orankl' -%}
 {%- assign DEUEVYEGGX = product.metafields.orankl.rating -%}
 {%- assign YALAMIUGNR = product.metafields.orankl.review_count -%}
 {%- when 'reviewsio' -%}
 {%- assign DEUEVYEGGX = product.metafields.reviewscouk.rating -%}
 {%- assign YALAMIUGNR = product.metafields.reviewscouk.total -%}
 {%- when 'rivio' -%}
 {%- assign DEUEVYEGGX = product.metafields.reevio.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.reevio.reviews_count -%}
 {%- when 'ryviu' -%}
 {%- assign DEUEVYEGGX = product.metafields.ryviu.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign YALAMIUGNR = product.metafields.ryviu.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'shopifyreviews' -%}
 {%- assign DEUEVYEGGX = product.metafields.spr.reviews | split: 'ratingValue" content="' | last | split: '"' |first | plus: 0 -%}
 {%- assign YALAMIUGNR = product.metafields.spr.reviews | split: 'reviewCount" content="' | last | split: '"' |first | plus: 0 -%}
 {%- when 'socialshopwave' -%}
 {%- assign DEUEVYEGGX = product.metafields.ssw.avg_rate -%}
 {%- assign YALAMIUGNR = product.metafields.ssw.count_rate -%}
 {%- when 'stampedio' -%}
 {%- assign DEUEVYEGGX = product.metafields.stamped.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.stamped.reviews_count -%}
 {%- when 'superreviews' -%}
 {%- assign DEUEVYEGGX = product.metafields.reviewapp.reviews | split: '"average" itemprop="ratingValue">' | last | split: '</span>' |first | plus: 0 -%}
 {%- assign YALAMIUGNR = product.metafields.reviewapp.reviews | split: '"votes" itemprop="ratingCount">' | last | split: "</span>" | first | plus: 0 -%}
 {%- when 'trust' -%}
 {%- assign DEUEVYEGGX = product.metafields.vnreviews.ratingValue -%}
 {%- assign YALAMIUGNR = product.metafields.vnreviews.reviewCount -%}
 {%- when 'yotpo' -%}
 {%- assign DEUEVYEGGX = product.metafields.yotpo.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.yotpo.reviews_count -%}
 {%- when 'yotpo_free' -%}
 {%- else -%}
 {%- if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.yotpo.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.yotpo.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.kudobuzz.review_rating and product.metafields.kudobuzz.reviews_count != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.kudobuzz.review_rating -%}
 {%- assign YALAMIUGNR = product.metafields.kudobuzz.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.loox.num_reviews and product.metafields.loox.num_reviews != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.loox.avg_rating -%}
 {%- assign YALAMIUGNR = product.metafields.loox.num_reviews -%}
 {%- endif -%}
 {%- if product.metafields.okendo.RatingAndReviewAverageValue and product.metafields.okendo.RatingAndReviewAverageValue != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.okendo.RatingAndReviewAverageValue -%}
 {%- assign YALAMIUGNR = product.metafields.okendo.RatingAndReviewCount -%}
 {%- endif -%}
 {%- if product.metafields.orankl.RatingAndReviewAverageValue and product.metafields.orankl.RatingAndReviewAverageValue != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.orankl.rating -%}
 {%- assign YALAMIUGNR = product.metafields.orankl.review_count -%}
 {%- endif -%}
 {%- if product.metafields.reviewscouk.rating and product.metafields.reviewscouk.rating != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.reviewscouk.rating -%}
 {%- assign YALAMIUGNR = product.metafields.reviewscouk.total -%}
 {%- endif -%}
 {%- if product.metafields.reevio.reviews_average and product.metafields.reevio.reviews_count != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.reevio.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.reevio.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.ssw.count_rate and product.metafields.ssw.count_rate != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.ssw.avg_rate -%}
 {%- assign YALAMIUGNR = product.metafields.ssw.count_rate -%}
 {%- endif -%}
 {%- if product.metafields.stamped.reviews_average and product.metafields.stamped.reviews_count != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.stamped.reviews_average -%}
 {%- assign YALAMIUGNR = product.metafields.stamped.reviews_count -%}
 {%- endif -%}
 {%- if product.metafields.vnreviews.ratingValue and product.metafields.vnreviews.reviewCount != "0" -%}
 {%- assign DEUEVYEGGX = product.metafields.vnreviews.ratingValue -%}
 {%- assign YALAMIUGNR = product.metafields.vnreviews.reviewCount -%}
 {%- endif -%}
 {%- endcase -%}
     {%- if DEUEVYEGGX != nil and YALAMIUGNR != nil -%}
 ,"aggregateRating": {
 "@type": "AggregateRating",
 "ratingValue": {{ DEUEVYEGGX }},
 "ratingCount": {{ YALAMIUGNR }}
 }
 {%- endif -%}
 {%- endunless -%}
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
 {%- if RHZZYHWZKY == 'article' -%}
 {%- unless SPBDSVVAQJ == "no" -%}
 <script type="application/ld+json">
 {
 "@context": "https://schema.org",
 "@type": "Article",
 "url": {{ canonical_url | json }},
 "mainEntityOfPage": {{ canonical_url | json }},
 "name": {{ article.title | json }},
 "headline": {{ article.title | json }},
 "author": {
 "@type": "Person",
 "name": {{ article.author | json }}
 },
 "publisher": {
 "@type": "Organization",
 "name": {{ shop.name | json }}
 {%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
 ,"logo":
 {
 "@type": "ImageObject",
 "url": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
 }
 {%- endunless -%}
 },
 "image": {
 "@type": "ImageObject",
 {%- if article.image -%}
 "url": "https:{{ article | img_url: '1024x1024' }}",
{%- else -%} {%- assign EJOCGBCGYE = article.content | escape -%} {%- if EJOCGBCGYE contains '&lt;img' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE | split: 'src=&quot;' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE[1] | split: '&quot;' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE[0] | remove: '//cdn' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE | remove: 'http:http://' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE | remove: 'https:' -%} {%- assign EJOCGBCGYE = EJOCGBCGYE | prepend: 'https://cdn' -%} {%- capture KCVOEDHUHT -%}_1024x1024.{%- endcapture -%} {%- assign JUHIZSXBJK = 'pico icon thumb small compact medium large grande 1024x1024 2048x2048' | split:' ' -%} {%- for GMOXZJKJCB in JUHIZSXBJK -%} {%- capture XGWKNGLDPK -%}_{{ GMOXZJKJCB }}.{%- endcapture -%} {%- assign EJOCGBCGYE = EJOCGBCGYE | replace:search,replacement -%} {%- endfor -%}
 "url": "{{ EJOCGBCGYE }}",
 {%- else -%}
 "url": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif",
 {%- endif -%}
 {%- endif -%}
 "height": "1024",
 "width": "1024"
 },
 "datePublished": "{{ article.created_at }}",
 "dateModified": "{{ article.published_at }}",
 "description": {{ article.excerpt_or_content | strip_html | json }},
 "articleBody": {{ article.content | strip_html | json }}
 }
 </script>
 {%- endunless -%}
 {%- endif -%}
{%- endunless -%}
{% comment %} ROM 8:31 {% endcomment %}
<!-- end: SEO Manager 6.1.4 -->